name: Lint Docs

on:
  push:
    branches:
    - main
    paths:
    - "*.md"
    - "**/*.md"
  pull_request:
    paths:
    - "*.md"
    - "**/*.md"

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.4
    - name: Run Markdown linter
      run: |
        gem install mdl
        mdl *.md
  lychee:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Link Checker
      id: lychee
      uses: lycheeverse/lychee-action@v1.5.1
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      with:
        args: README.md CHANGELOG.md
