name: Build

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  rspec:
    runs-on: ubuntu-latest
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      BUNDLE_GEMFILE: "${{ matrix.gemfile }}"
      VERIFY_RESERVED: 1
      CI: true
    strategy:
      fail-fast: false
      matrix:
        include:
        - ruby: "3.3"
          gemfile: "Gemfile"
          rbs: 'true'
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler: 2.2.15
        bundler-cache: true
    - name: Run RSpec
      run: |
        bundle exec rake spec
    - name: Run RSpec without rails
      run: |
        bundle exec rake spec:norails
    - name: Run Rails secrets tests for uninitialized app
      run: |
        bundle exec rake spec:secrets
    - name: Run Rails autoload tests
      run: |
        bundle exec rake spec:autoload
    - name: Run RSpec with RBS runtime checks
      if: matrix.rbs == 'true'
      env:
        # RBS adds method aliases
        VERIFY_RESERVED: 0
      run: |
        bundle exec rbs collection install
        bundle exec rake spec:rbs -- --force-color
